@{
    Layout = null;
}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>ATuttaPizza</title>
  </head>
  <body>

      <nav class="navbar navbar-dark bg-danger"> 
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://media.istockphoto.com/vectors/pizza-vector-emblem-vector-id675968126?k=6&m=675968126&s=612x612&w=0&h=KNG6oXUdR3U5yoWmJvRgZgO2EbAwRTqVH2itb_k6_GY=" alt="Logo A TuttaPizza" width="60" height="50" class="d-inline-block align-text-middle "> 
      A Tutta Pizza
    </a>
  </div>
</nav>

<div class="container my-5 text-center"style="max-width: 580px;">
  <h1>A Tutta Pizza!</h1>
<p class = "lead">Concediti ora una favolosa pausa ricca di gusto e di passione!</p>
<button type="button" class="btn btn-danger">Ordina Subito!</button>
<button type="button" class="btn btn-success">Contattaci!</button>
</div>
<div class= "container shadow p-3 mb-5 bg-body rounded">

    <div class="row">
    <div class="col">
        <div class="card  text-center"style="width: 18rem;">
  <img src="https://th.bing.com/th/id/OIP.31Kt0L2sA5RZ0dsdQSW8ygHaE7?pid=ImgDet&rs=1"class="card-img-top" alt="Margherita" />
  <div class="card-body">
    <h5 class="card-title">Margherita</h5>
    <p class="card-text">La pizza Margherita è la tipica pizza napoletana, condita con pomodoro, mozzarella,  basilico fresco, sale e olio. </p>
    <p class="card-text">Prezzo: 7€</p>
    <a href="#" class="btn btn-danger">Acquista subito!</a> 
  </div>
</div>

     
    </div>
    <div class="col">
        <div class="card  text-center"style="width: 18rem;">
  <img src="https://th.bing.com/th/id/R.0ca3c0f6982807e975d8aa407156444f?rik=eRuhxTiX065%2f%2fg&riu=http%3a%2f%2fwww.sanclementetimes.com%2fwp-content%2fuploads%2f2017%2f03%2fFOOD-1280x853-1.jpg&ehk=hXk%2bdy6hHFb3t5OkfSS1Rvu7XiOjM1WLOPXLmt83JQE%3d&risl=&pid=ImgRaw&r=0"class="card-img-top" alt="Capricciosa"/>
  <div class="card-body">
    <h5 class="card-title">Capricciosa</h5>
    <p class="card-text">La pizza capricciosa è caratterizzata da un condimento di pomodoro, mozzarella, prosciutto cotto, funghi di stagione, olive verdi e nere, e carciofini e spesso uova. </p>
    <p class="card-text">Prezzo: 8€</p>
    <a href="#" class="btn btn-danger">Acquista subito!</a>
  </div>
</div>

     
    </div>
    <div class="col">
        <div class="card  text-center"style="width: 18rem;">
  <img src="https://th.bing.com/th/id/OIP.WT5EfjTePgjRg8ej5SFY-AHaE9?pid=ImgDet&rs=1"class="card-img-top" alt="Ortolana" />
  <div class="card-body">
    <h5 class="card-title">Ortolana</h5>
    <p class="card-text">Ortolana ingredienti: Melanzane, peperoni, pomodori, prezzemolo dal gusto fresco e fragrante. </p>
    <p class="card-text">Prezzo: 7,50€</p>
    <a href="#" class="btn btn-danger">Acquista subito!</a>
  </div>
</div>

      
    </div>
     <div class="col">
         <div class="card  text-center"style="width: 18rem;">
  <img src="https://th.bing.com/th/id/OIP.FQxZ2aTlLUgvQrfbJZYohAHaE9?pid=ImgDet&rs=1"class="card-img-top" alt="4 Fotmaggi"/>
  <div class="card-body">
    <h5 class="card-title">4 Formaggi</h5>
    <p class="card-text">Pizza 4 formaggi con: Mozzarella, brie, zola, emmenthal. L’impasto delle nostre pizze è un impasto tradizionale a lievitazione naturale in 48 ore, con lievito madre. </p>
    <p class="card-text">Prezzo: 8,50€ </p>
    <a href="#" class="btn btn-danger">Acquista subito!</a>
  </div>
</div>


     
    </div>
  </div>



</div>
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

   
  </body>
</html>
